@page
@model PlackiModel
@{
    ViewData["Title"] = "Elo żelo";
}
<h1 style="text-align: center">@ViewData["Title"]</h1>

<p>
    Placki na patelni skwierczą wesoło,<br>
    Złote jak słońce, krągłe jak koło.<br>
    Mąka i woda, odrobina serca,<br>
    Każdy kęs smakuje, jakbyś nie miał końca.<br><br>

    Ziemniaczane czy z jabłkiem słodkim,<br>
    Zawsze w kuchni radość czynią w środku.<br>
    Zapach ich w domu unoszący się lekko,<br>
    Jak wspomnienie lata, co skrzy się daleko.<br><br>

    Czy to na śniadanie, obiad, czy kolację,<br>
    Placki to prostota, ale z elegancją.<br>
    W domu rodzinnym, wśród przyjaciół stołu,<br>
    Każdy się nimi dzieli, nikt nie jest pospolitym gościem z boku.<br><br>

    Z cukrem, śmietaną, sosem czy twarogiem,<br>
    Każdy je smakuje na swój sposób drogą.<br>
    Placki – mała radość codziennego bycia,<br>
    W nich ukryta magia prostego życia.
</p>

<div style="display: flex; width: 100%">
    <img style="flex-grow: 1;" src="~/images/placki_slone.jpg" alt="Logo" />
    <img style="flex-grow: 1;" src="~/images/placki_slodkie.jpg" alt="Logo" />
</div>
